.footer {
  background-color: #1f2937;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.9rem;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin-bottom: 0.5rem;
}

.link {
  color: #cbd5e1;
  text-decoration: none;
}

.link:hover {
  color: #fbbf24;
}

.linkListTitle {
  margin: 0;
}

.linkSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}