.containerGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
  cursor: pointer;
}

.cardAdmin:hover {
  box-shadow: 6px;
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}